body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ff9acb,#ffc6e5);
color:white;
text-align:center;
overflow-x:hidden;
}

.hidden{
display:none;
}

.coverImg{
width:85%;
max-width:500px;
border-radius:20px;
margin-top:20px;
}

button{
padding:14px 25px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff4da6;
color:white;
margin-top:20px;
}

input{
padding:12px;
font-size:18px;
border-radius:10px;
border:none;
width:220px;
display:block;
margin:20px auto;
}

#gift{
font-size:80px;
cursor:pointer;
animation:shake 1s infinite;
}

@keyframes shake{
0%{transform:rotate(0)}
25%{transform:rotate(-10deg)}
50%{transform:rotate(10deg)}
75%{transform:rotate(-10deg)}
100%{transform:rotate(0)}
}

#progressBar{
width:80%;
height:20px;
background:#ffffff33;
margin:20px auto;
border-radius:10px;
}

#progress{
height:100%;
width:0%;
background:#ff4da6;
border-radius:10px;
}

#book{
width:90%;
max-width:500px;
margin:auto;
position:relative;
}

.bookPage{
background:white;
color:black;
border-radius:10px;
padding:20px;
margin-top:20px;
}

.bookPage img{
width:70%;
max-width:320px;
border-radius:10px;
}

.heart{
position:fixed;
bottom:-20px;
font-size:20px;
animation:fly 6s linear infinite;
}

@keyframes fly{
0%{transform:translateY(0)}
100%{transform:translateY(-120vh)}
}
